.user-list-container {
    padding: 20px;
    background:linear-gradient(to top, #0a3561, #d4d1f1);
    border-radius: 12px;
    
    max-width: 100%;
    margin: 20px auto;
  }
  .each-user{
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    text-align: center;
    color: #030f44;
    margin-bottom: 16px;
  }
   .subtext{
    font-size: 0.8rem;
   }
   .subtext-email{
    font-size: 0.8rem;
    color: rgb(156, 156, 247);
   }
  .OtherUsers {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .OtherUsers div {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    justify-content: space-between;
  }
  .icons{
    display: flex;
  }
  
  .OtherUsers div:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  }
  
  .OtherUsers h1 {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 8px;
  }
  
  .name-p {
    font-size: 22px;
    color: #555;
    font-weight: bolder;
  }
  