/* Categories Section */
.categories {
    display: flex;
    flex-direction: column;
    
    padding: 40px;
    background: linear-gradient(to right, #e6e9ec, #d4d1f1);
    justify-items: center;
  }
  .extract{
    display: flex;
    align-items: center;
    background: white;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    transition: transform 0.3s ease-in-out;
  }
  .categories h1{
    color: rgb(48, 48, 236);
    font-size: 2rem;
    margin: 32px auto;
  }
  .all-courses{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    gap: 20px;
    padding: 40px;
    justify-items: center;
  }
  
  /* Individual Card */
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 250px;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Card Hover Effect */
  .card:hover {
    transform: translateY(-5px);
  }
  
  /* Card Image */
  .card-img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  /* Card Text */
  .card-text {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
  }
  .card-description{
    font-size: 12px;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Category Button */
  .cat-btn {
    background-color: #638af5; /* Deep pink */
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .cat-btn:hover {
    background-color: #d11079;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .categories {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  