/* Card Section */
.card-section {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 50px;
    background-color: #f5f5f5;
  }
  
  /* Card Style */
  .card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Card Hover Effect */
  .card:hover {
    transform: translateY(-5px);
  }
  
  /* Heading */
  .card h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #5a39eb;
  }
  
  /* Image */
  .card-img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin-bottom: 5px;
  }
  .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto ;

  }
  .description p{
    align-items: start;
  }
  
  /* Upload Button */
  .upload-btn {
    background-color: #4858eb; /* Deep pink */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .upload-btn:hover {
    background-color: #093d81;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .card-section {
      flex-direction: column;
      align-items: center;
    }
  }
  